<h1 class="text-base font-semibold leading-7 text-gray-700">1 de Junio, 2021</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  KESSESO?
</h1>

<p class="prose">
  el jaccc, también conocido como bogho ibiza introduce el long a los primitivos de jaxvol. El juego comienza siendo un liberar tensiones, pero pronto se convierte en la tensión misma.
</p>
