<h1 class="text-base font-semibold leading-7 text-gray-700">21 de Julio, 2021</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
   Eto ta bueno eh?
</h1>

<p class="prose">
 el long empieza a agarrar fama entre un grupo selecto de personas, pero como en todo un grupo de haters se suma al channel para pedir que devuelvan lo que rompieron, generando disturbios en los partidos que todavía resultan muy amateurs. Se pasa a jugar con 2 personas en vez de 3, y se juega a un solo gol no a 2 ni 3.
</p>
