<h1 class="text-base font-semibold leading-7 text-gray-700">24 de Noviembre, 2021</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  NO PUEDOOOO! Debe estar con el jueguito
</h1>

<p class="prose">
 nostra disputa un partido cuando su señora llega a la casa y se percata que no puede entrar, golpea la puerta, nostra se hace el que no escucha. La señora insiste porque sabe que en realidad está y está jugando al jueguito, a lo que nostra responde: "NO PUEDOOOOO, NO PUEDOOOOOOO" (pa me tenté de nuevo :pepejuas:)
</p>
