<h1 class="text-base font-semibold leading-7 text-gray-700">27 de Febrero, 2022</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Si todos fueran como yo
</h1>

<p class="prose">
  impulsado por aquel jugador incansable que quiere demostrar que él es el mejor se crea el primer sistema de ELO implementado por nuestros developers estrellas esviernes.com y Nostradamus. También se crea una página espantosa v0.0.0.0.0.1 donde se pueden visualizar dichos datos. 1ma y kevo son el 1 y el 2. Nostra y kevo discuten, kevo se va, kevo vuelve.
</p>
