<h1 class="text-base font-semibold leading-7 text-gray-700">6 de Agosto, 2022</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  EL ELLLLL, SE ME DESCARGA EL ELLLL
</h1>

<p class="prose">
  el anteriormente denominado bogho hace un rebranding de su nombre, pasando a ser EL JACCC, tomando su nombre de un partido en el cual se aprovecha de la precaria implementación del elo donde con un comando se bajaban los stats en un .json. EL ELLLLLLL, SE ME DESCARGA EL ELLLL EL JACCC ME ESTA DESCARGANDO EL ELLLLL, gritaba nostra.
</p>
