<h1 class="text-base font-semibold leading-7 text-gray-700">20 de Agosto, 2022</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Bicho anda a lpqtp
</h1>

<p class="prose">
  Un Gaspi de muy poca paciencia insulta al novato "El Bicho" porque hace un tiempo juega y no aprende. El bicho comienza a tomarse las cosas en serio. Surgen nuevas mejoras al sistema, nueva página haxlaton (1ma :mlady:)
</p>
