<h1 class="text-base font-semibold leading-7 text-gray-700">15 de Setiembre, 2022</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Vamo a jugar a los pases loco
</h1>

<p class="prose">
  El pionero de los pases Gaspi propone jugar a los pases, se empieza a adoptar la nueva estrategia que no todos hoy por hoy conocen. Kevo discute con Gaspi, su estrategia le parece mejor. Juegan un partido, gana kevo (psst: igual jugar a los pases es mejor). Nostra y kevo discuten, kevo se va, kevo vuelve. Nuevo sistema de login, 1ma cuando laburas?
</p>
