<h1 class="text-base font-semibold leading-7 text-gray-700">30 de Setiembre, 2022</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  El elo va a matar al long
</h1>

<p class="prose">
  Nostra en su viveza criolla roba elo a kevo locurita, kevo se enoja y se va. Nostra reflexiona y le dedica una canción que dejo adjunta. 1ma no para de laburar saca las queries para que todos se dejen de romper las pelotas.
</p>
