<h1 class="text-base font-semibold leading-7 text-gray-700">4 de Octubre, 2022</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Andy no para de romper records
</h1>

<p class="prose">
  El jugador más parejo del long llega a los 1812, alguno nunca visto y será raro de ver en el futuro. Una bestia! Hubo tropezones en el camino como perder (x2) con el famoso te resto 0 EL JACCC pero nadie le quita la gloria máxima.
</p>
