<h1 class="text-base font-semibold leading-7 text-gray-700">21 de Octubre, 2022</h1>

<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  El bicho que no ni no!
</h1>

<p class="prose">
  Luego de meses de sufrir bowling de Gaspi, el alumno supera al maestro y El bicho se condecora como el segundo en ATH de elo atrás de Andy. Gaspi no lo puede creer, tal vez lo tendría que haber puteado un poco menos.
</p>
