<h1 class="text-base font-semibold leading-7 text-gray-700">2 de Noviembre, 2022</h1>

<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  ¿Qué es eso? ¿Es un avión? ¿Es un perro volador? No, ¡es Pete Dog!
</h1>

<p class="prose">
  Pete Human, como su nuevo rebranding lo indica, resurge de las cenizas y se posiciona en la tabla en los 1563, nadie lo puede creer. Se arma la tabla del descenso.
</p>
