<h1 class="text-base font-semibold leading-7 text-gray-700">12 de Noviembre, 2022</h1>

<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  ¡No contaban con mi astucia!
</h1>

<p class="prose">
  Vuelve el polémico jugador Tunisia a las canchas, al principio es silbado en las canchas, baja elo como si no hubiera mañana, pero de pronto se recupera, vuelve a la A. Todos temen al nuevo tuna, incluso sus compañeros de equipo (dos por tres le gusta jugar para atrás, ¡y como juega!).
</p>
