<h1 class="text-base font-semibold leading-7 text-gray-700">4 de Diciembre, 2022</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Rebaraje para que andy no se aburra, ni piri ribiriji lis ginidires
</h1>

<p class="prose">
  No contento con la derrota de su equipo, y sin aceptar la propuesta del Pistokevo para que Andy no se aburra, el rebaraje en los equipos no le parece oportuno a Nostra que propone que también se rebarajen los ganadores. A lo cual el Pistokevo acepta, pero como Nostra no sabe lo que quiere le dice que no. Discusión va, discusión viene. 1ma echa a todos del server. Nostra y Kevo discuten, Nostra se va, Nostra ya volverá.
</p>
