<h1 class="text-base font-semibold leading-7 text-gray-700">22 de Diciembre, 2023</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Oscuridad, solo oscuridad
</h1>
<p class="prose">
  Luego de que nostra se retira de las canchas se genera un vacío enorme en el long, apenas se llega a los jugadores para jugar un partido, la gente está de mal humor, todos culpan a kevo de ser el artifice de que nostra no juegue más, cuando en realidad todo surgió porque 1ma echó a todos del server. No se ve la luz al final del tunel.
</p>
