<h1 class="text-base font-semibold leading-7 text-gray-700">2 de Enero, 2023</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Nostralgia, una historia de traición y arrepentimiento
</h1>
<p class="prose">
  Por medio de un stream en Twitch, la asociación de long se entera de que el ex jugador Nostra está haciendo uso ilegal de su licencia de jugar al long con un par de personas inexperimentadas y por fuera de todo reglamento de long. Al otro día de la noche de la Nostralgia y el día de la independencia del Uruguay, el jugador vuelve arrepentido a las canchas, cabeza agachada pero reclamando que si no arranca el partido se va. Se disputan varios partidos en los que se puede ver el enojo de Nico con 1tipazo/1ma/esviernes.com/I MAKE BEDS/etc y lo más importante, la vuelta de Nostradamus. ¿Cómo seguirá la historia? ¿Volverá la toxicidad? Ya lo veremos.
</p>
