<h1 class="text-base font-semibold leading-7 text-gray-700"4 de Febrero, 2023</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Juga bien, no como un retrasado
</h1>
<pre>
<code>
    :peh::peh::peh::peh:   :peh::peh::peh:  :peh:          :peh:
    :peh:          :peh:   :peh:            :peh:          :peh:
    :peh:          :peh:   :peh:            :peh:          :peh:
    :peh:          :peh:   :peh:            :peh:          :peh:
    :peh::peh::peh::peh:   :peh::peh::peh:  :peh::peh::peh::peh:
    :peh:                  :peh:            :peh:          :peh:
    :peh:                  :peh:            :peh:          :peh:
    :peh:                  :peh:            :peh:          :peh:
    :peh:                  :peh::peh::peh:  :peh:          :peh:
</code>
</pre>
<p class="prose">
  El bicho juega un partido con nostra vs nico y kevo, pierde y se va muy enojado del terreno de juego. Luego de mucha insistencia, se da cuenta que ha cometido un error al irse puteando a su compañero y vuelve a la cancha. Ahora para enfrentar a kevo y andy, con su gran compañero nostradamus. Luego de un duro partido en el cual se encuentra con la derrota, nuevamente se va enojado de la cancha. Se activa el chat en long-elite "volvé bicho, no te dije nada, dale" dice nostra. El bicho en su gran calentura le responde al compañero que claramente cuenta con problemas, y lo equipara al compañero bogho logrando un 2x1 en insultos. Nostra se enoja y no entiende, solo juegan por el elo dice, y se va del channel nuevamente. Volverá?
</p>
