<h1 class="text-base font-semibold leading-7 text-gray-700">9 de agosto, 2021</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Basta de spam
</h1>

<p class="prose">
  se crea el channel long con el propósito de diferenciar long de jaxvol, porque ya era mucha gente la que aclamaba por el long.
</p>
