<h1 class="text-base font-semibold leading-7 text-gray-700">2 de Julio, 2021</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Qué turbio, una historia de autoritarismo y corrupción
</h1>

<p class="prose">
  El deporte conocido como jaxvol luego de una gran cantidad de torneos disputados con un montón de recuerdos que quedaran en la retina de cada player sufre golpes de autoritarismo y acaba muriendo
</p>
