<h1 class="text-base font-semibold leading-7 text-gray-700">9 de Agosto, 2021</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
   No da más
</h1>

<p class="prose">
  se crea un channel selecto de personas que si desean continuar jugando el deporte en paz, se cierra la puerta a los haters y el long empieza a coger velocidad.
</p>
