<h1 class="text-base font-semibold leading-7 text-gray-700">2 de Setiembre, 2021</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Primeras tácticas de juego
</h1>

<p class="prose">
  empiezan a generarse las primeras disputas del channel sobre quién jugó mejor o peor en la partida.
</p>
