<h1 class="text-base font-semibold leading-7 text-gray-700">2 de Setiembre, 2021</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Primeras tácticas de juego
</h1>

<p class="prose">
  un jugador explica como el juego tiene un parecido al quidditch, donde uno del equipo se encarga de la pelota, y el otro (el golpeador) se encarga de despejarle el camino a su compañero. Empiezan a surgir así las primeras tácticas de juego, ya deja de ser puro choque y empieza a tener mucha emoción. Nostra y kevo discuten, kevo se va, kevo vuelve.
</p>
