<h1 class="text-base font-semibold leading-7 text-gray-700">28 de Octubre, 2021</h1>
<h1 class="mt-2 mb-2 text-3xl font-extrabold tracking-[-0.04em] text-black sm:text-5xl sm:leading-[3.5rem]">
  Yo soy mejor, no! yo soy mejor
</h1>

<p class="prose">
  Yo soy mejor, no! yo soy mejor: empiezan a generarse las primeras disputas del channel sobre quién jugó mejor o peor en la partida.
</p>
