<div id="players-table"></div>

<link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>

<script>
  var table = new Tabulator("#players-table", {
    layout: "fitDataTable",
    pagination: "local",
    paginationSize: 10,
    data: JSON.parse('<%= raw @players.to_json %>'),
    autoColumns: true,
  });
</script>
